.node{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    /* display: ; */
}
.node-start
{
    background-color: green;
}

.node-end
{
    background-color: red;
}
.iswall
{
  background-color: black;
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: #e43f84;
      border-radius: 10%;
    }
  
    50% {
      background-color: #db748d;
    }
  
    75% {
      transform: scale(1.2);
      background-color: #d03772;
    }
  
    100% {
      transform: scale(1);
      background-color: #e4c5a7;
    }
  }
  
  .node-wall {
    background-color: rgb(12, 53, 71);
  }
  
  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: aquamarine;
    }
  
    50% {
      transform: scale(1.2);
      background-color: aquamarine;
    }
  
    100% {
      transform: scale(1);
      background-color: aquamarine;
    }
  }